<h2>Register</h2>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="col-md-6">

  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" formControlName="name" type="text" />
    <div class="text-danger mt-1" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
      Name must be at least 2 characters.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" formControlName="email" type="email" />
    <div class="text-danger mt-1" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      Enter a valid email.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" formControlName="password" type="password" />
    <div class="text-danger mt-1" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
      Password must be at least 6 characters.
    </div>
  </div>

  <button class="btn btn-success" type="submit" [disabled]="loading">
    {{ loading ? 'Creating...' : 'Create account' }}
  </button>
</form>
