<h2>Products</h2>

<div *ngIf="loading" class="alert alert-info">Loading...</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<div class="alert alert-secondary" *ngIf="rateUsd">
  Current EUR → USD rate: <b>{{ rateUsd }}</b>
</div>

<div class="row" *ngIf="!loading && !error">
  <div class="col-md-4 mb-3" *ngFor="let p of products">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text mb-1"><b>Price:</b> {{ p.price | priceUsd: rateUsd }}</p>
        <p class="card-text mb-1"><b>Stock:</b> {{ p.stock }}</p>
        <p class="card-text"><b>Category:</b> {{ getCategoryName(p) }}</p>

        <a class="btn btn-primary" [routerLink]="['/products', p._id]">
          View details
        </a>
        <div class="d-flex align-items-center gap-2 mt-2" *ngIf="auth.isUser()">

          <input
            #qty
            type="number"
            class="form-control"
            style="max-width: 90px"
            min="1"
            [max]="p.stock"
            value="1"
          />

          <button class="btn btn-success ms-2"
                  (click)="addToCart(p)"
                  [disabled]="p.stock <= 0 || cart.isAtMax(p._id, p.stock)">
            Add to cart
          </button>

          <div class="small text-warning mt-1" *ngIf="cart.isAtMax(p._id, p.stock) && p.stock > 0">
            In cart: max {{ p.stock }}
          </div>

          <div class="small text-danger mt-1" *ngIf="p.stock <= 0">
            Out of stock
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
