<h2>Categories</h2>

<div *ngIf="message" class="alert alert-success">{{ message }}</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div *ngIf="loading" class="alert alert-secondary">Loading...</div>

<div *ngIf="auth.isAdmin()" class="card bg-dark text-light mb-3">
  <div class="card-body">
    <h5 class="card-title">Add category</h5>

    <form [formGroup]="createForm" (ngSubmit)="create()" class="row g-2">
      <div class="col-md-4">
        <input class="form-control" placeholder="Name" formControlName="name">
        <div class="text-danger small mt-1" *ngIf="createForm.get('name')?.touched && createForm.get('name')?.invalid">
          Name required.
        </div>
      </div>

      <div class="col-md-6">
        <input class="form-control" placeholder="Description" formControlName="description">
      </div>

      <div class="col-md-2 d-grid">
        <button class="btn btn-success" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>

<table class="table table-dark table-striped align-middle" *ngIf="!loading">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th style="width: 220px;" *ngIf="auth.isAdmin()"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let c of categories">
    <td>
      <ng-container *ngIf="editingId !== c._id; else editName">
        {{ c.name }}
      </ng-container>
      <ng-template #editName>
        <input class="form-control" formControlName="name" [formGroup]="editForm">
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="editingId !== c._id; else editDesc">
        {{ c.description || '-' }}
      </ng-container>
      <ng-template #editDesc>
        <input class="form-control" formControlName="description" [formGroup]="editForm">
      </ng-template>
    </td>

    <td *ngIf="auth.isAdmin()">
      <ng-container *ngIf="editingId !== c._id; else editingBtns">
        <button class="btn btn-sm btn-outline-light me-2" (click)="startEdit(c)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="remove(c._id)">Delete</button>
      </ng-container>

      <ng-template #editingBtns>
        <button class="btn btn-sm btn-success me-2" (click)="saveEdit()">Save</button>
        <button class="btn btn-sm btn-outline-secondary" (click)="cancelEdit()">Cancel</button>
      </ng-template>
    </td>
  </tr>
  </tbody>
</table>
