<h2>Admin: Users</h2>

<div *ngIf="message" class="alert alert-success">{{ message }}</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<table class="table table-dark table-striped mt-3" *ngIf="users.length > 0">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th style="width: 120px;"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let u of users">
    <td>{{ u.name }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.role }}</td>

    <td>
      <button
        class="btn btn-sm btn-danger"
        (click)="deleteUser(u._id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="users.length === 0" class="alert alert-info">
  No users found.
</div>
